# Verifique as compatibilidades em https://pytorch.org/get-started/previous-versions/

# Base Torch
# Windows ou Linux com GPU CUDA 12.8: pip install torch==2.8.0 torchvision==0.23.0 torchaudio==2.8.0 --index-url https://download.pytorch.org/whl/cu128

# Gerar legenda ASS:
# pip install git+https://github.com/m-bain/whisperx.git -c constraints.txt

# Gerar legenda SRT: 
# pip install openai-whisper -c constraints.txt

# Geral
yt_dlp
pydub
srt
transformers
librosa


# Demucs (separar instrumental)
demucs